* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  /* -----------------------------------------------s--- Color -------------------------------------------------- */
  
  .black {
    background-color: black !important;
  }

  .grey {
    background-color: #757575 !important;
  }

  .grey-text {
    color:#757575 !important;
  }

  .white {
    background-color: white;
  }
  
  .blue {
    color: #1DA1F2;
  }

  .darkblue {
    color: #4d4dea;
  }

  .purple{
    color: #ce9ffe;
  }
  
  .btn-outline-success {
    color: black;
    border-color: black;
  }
  
  /*-------------------------------------------------- TEXT -------------------------------------------------- */
  
  .shout-out {
    background-color: black;
    color: white;
  }
  
  .header-alt {
    color: #000;
  }

  /* -------------------------------------------------- Align -------------------------------------------------- */
  
  .text-end {
    text-align: end !important;
    margin-top: 0.5rem !important;
  }

.card {
  height: 100%;
}

  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
}

.bc-img {
  height:30vh;
  object-fit: cover;
}

.btn {
  display: block !important;
  width: 100% !important;
}

.btn-maxw {
  width: 25% !important;
}

@media screen and (max-width: 768px) {
  .btn-maxw {
    width: 100% !important;
    display:inline !important;
  }
}

.error {
  margin-top:8rem !important;
}

.map {
  width:100% !important;
  height: auto !important;
}